body{
    background-color: #0f121f;
    background-image: url(stars.png);
    color: #fff;
    margin: 0px;
}
body *{
    font-family: Ubuntu;
}

/* h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
} */

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

/* .wrapper{
    
    max-width:1000px;
    margin: 0 auto;
} */

div.wrapper > h1{

    text-align: center;
    margin-bottom:100px;
    margin-top: 0px;
    font-size:2.4em;
}

/* header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:20px 0;
    margin-bottom: 0%;
}
 */
/* nav {

    justify-self: end;

}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
} */
ul {
    padding-inline-start: 0px;
}
nav {
    height: 10vh;  
}
.nav-links {

    display: flex;
    list-style: none;
    width:50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.logout-link{
    border: 1px solid #fc6161;
    padding: 10px;
    border-radius: 4px;
    
}
.login-link{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    
}

.signup-link{
    
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
}

nav button{

    background:none;
    color: #fc6161;
    cursor:pointer;
    border:0;
    font-size:16px;
}

/* .articles{

    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:30px;
}

.article{

    padding:10px;
    border:1px solid #00dba0;
    position:relative;
    padding-bottom:40px;
}

.article h2{
    font-size:1.2em;
}

.article .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}
.article-detail .article{
    padding: 0;
}

.article-detail  .article img{
    
    max-width: 50%;
    max-height: 50%;
    padding: 10px;
}

.article-detail  .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.article-detail .article h3{
    text-align: center;
}

.article-detail  .article p{
    text-align: center;
} */

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #FF5722;
    margin: 10px 0;
    color: #FF5722
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

@media screen and (max-width:768px){


    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {

        position: relative;
    }
    
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top:50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .nav-links{

        position: fixed;
        background: #171f38;
        height: 100vh;
        width: 100%;   
        margin: 0px;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path : circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{

        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path : circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li{

        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1){

        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    li.fade{
        opacity: 1;
    }
}